 @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Madimi+One&display=swap');
  
    body 
    {
      margin: 0;
      padding: 0;
      height: 100;
      box-sizing: border-box;
      font-family: "Kode Mono", monospace;
    }
    section
    {
        min-height: 200vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.60)), url("../Images/The\ Promise\ Silkscreen\ Print\ by\ Kaws-\ Brian\ Donnelly.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .container
    {
        width: 85%;
        margin: auto;
    }
    nav 
    {
        height: 80px;
    }
    nav h1
    {
        float: right;
        line-height: 80px;
        font-size: 35px;
        font-size: inline;
        color: purple;
    }
    nav ul
    {
        float: left;
        line-height: 80px;
    }
    nav ul li
    {
        display: inline-block;
        list-style-type: none;
        padding: 0px 5px;
    }
    nav ul li a
    {
        color: royalblue;
        text-decoration: dashed;
        text-transform: capitalize;
        border-radius: 5px;
        padding: 7px 8px;
    }
    nav ul li a:hover
    {
        background-color: rgb(135, 13, 159);
        transition: 0.5s ease;
    }
    nav ul li .active 
    {
        /* color the buttons 
        background-color: rgb(135, 13, 159);*/
    }
    .article
    {
        width: 50%;
        margin: auto;
        text-align: center;
        transform: translateY(10vh);
    }
    .article h1
    {
        font: size 36px;
        color: rgb(255, 255,);
        letter-spacing: 2px;
        font-weight: 800;
        margin-bottom: 25px;
    }
    .article p
    {
        font-size: 18px;
        color: white;
        line: height 1.5;
        margin-bottom: 50px;
    }
        img 
    {
        width: 100px;
        border-radius: 50px;
        float: left;
        margin-right: 10px;
        object-fit: cover;
      }
    /*
    download button
    .article .btn 
    {
        color: 
        padding: 12px 25px;
        letter-spacing:1.5px
        text-transform: uppercase;
        text-decoration: none;
        background-color: 
    }
     .article .btn:hover
     {
        background-color:
        transition: 0.5s ease;
     }  
     */